{% extends "!layout.html" %}

{%- block extrahead %}
{{ super() }}
<script type="text/javascript"> 
$(document).ready(function(){
{% for isol in range(10) %}
$(".flip{{isol}}").click(function(){
    $(".panel{{isol}}").slideToggle("normal");
  });
{% endfor %}
});
</script>
 
<style type="text/css"> 
{% for isol in range(10) %}
div.panel{{isol}},p.flip{{isol}}
{
    font-size: 0.9em;
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    border-bottom: 1px solid #86989B;
}
p.flip{{isol}}
{
    color: white;
    font-weight: bold;
    background-color: #AFC1C4;
}
div.panel{{isol}}
{
display:none;
}
{% endfor %}
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18709417-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}

{% block footer %}
 <small>Copyright:
 Smithsonian Astrophysical Observatory under terms of
 <a rel="license"
 href="http://creativecommons.org/licenses/by/3.0/">CC
 Attribution 3.0</a></small> <a rel="license"
 href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons
 License" style="border-width:0"
 src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a>
{% endblock %}
